<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon }}">
    <title>{{ block "title" . }}
        {{- .Title }} - {{ .Site.Title -}}
        {{ end }}</title>
    {{- if .Description }}
    <meta name="description" content="{{ .Description }}" />
    {{ end -}}
    {{- if .Keywords }}
    <meta name="keywords" content="{{ delimit .Keywords " ," }}" />
    {{ end -}}
    {{- if .Params.Author }}
    <meta name="author" content="{{ .Params.Author}}" />
    {{ end -}}
    {{ hugo.Generator }}
    <script>
        (function(h,o,u,n,d) {
          h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
          d=o.createElement(u);d.async=1;d.src=n
          n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
        })(window,document,'script','https://www.datadoghq-browser-agent.com/eu1/v5/datadog-rum.js','DD_RUM')
        window.DD_RUM.onReady(function() {
          window.DD_RUM.init({
            clientToken: 'puba95e615cc371d789ff1a189394e6af01',
            applicationId: '62de461c-3df0-46b2-998d-55dba1adc701',
            // `site` refers to the Datadog site parameter of your organization
            // see https://docs.datadoghq.com/getting_started/site/
            site: 'datadoghq.eu',
            service: 'ddog-hugo',
            env: '<ENV_NAME>',
            // Specify a version number to identify the deployed version of your application in Datadog
            // version: '1.0.0', 
            sessionSampleRate: 100,
            sessionReplaySampleRate: 20,
            trackUserInteractions: true,
            trackResources: true,
            trackLongTasks: true,
            defaultPrivacyLevel: 'mask-user-input',
          });
        })
    </script>
    {{ partialCached "css.html" . }}
</head>