<div class="max-w-6xl mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {{ $path := "img/products" }} 
    {{ $images := readDir (printf "static/%s" $path) }}
    {{ range $images }}
    <img
      src="{{ $path | absURL }}/{{ .Name }}"
      alt="{{ .Name | humanize }}"
      class="cursor-pointer object-cover w-full h-48 hover:opacity-75 transition-opacity duration-300"
      onclick="openLightbox('{{ $path | absURL }}/{{ .Name }}', '{{ .Name | humanize }}')"
    />
    {{ end }}
  </div>

  <!-- Lightbox Modal -->
  <div
    id="lightboxModal"
    class="hidden fixed inset-0 bg-black bg-opacity-80 flex justify-center items-center p-4"
  >
    <div class="bg-white p-4 max-w-3xl max-h-full overflow-auto">
      <img id="lightboxImage" src="" alt="" class="w-full h-auto" />
      <p id="lightboxCaption" class="text-center mt-2"></p>
      <button
        onclick="closeLightbox()"
        class="absolute top-0 right-0 m-4 text-white text-2xl"
      >
        &times;
      </button>
    </div>
  </div>
</div>

<script>
  function openLightbox(src, alt) {
    const modal = document.getElementById("lightboxModal");
    const image = document.getElementById("lightboxImage");
    const caption = document.getElementById("lightboxCaption");
    image.src = src;
    image.alt = alt;
    caption.textContent = alt.replace(".png", "");
    modal.classList.remove("hidden");
  }

  function closeLightbox() {
    const modal = document.getElementById("lightboxModal");
    modal.classList.add("hidden");
  }
</script>
